{% include "header.html" %}
        <div class="container px-4 px-lg-5 mt-5">
                <div class="row justify-content-center">

                    <div class="col md-8">
                        <h1>Your Cart</h1>
                        <ul class="list-group">
                            {% for item in cart %}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <!-- Product image-->
                                    <div class="col-md-3">
                                        <img class="img-fluid" style="max-width: 100px;" src="{{item.image}}" alt="Product Image" />
                                    </div>

                                    <!-- Product details-->
                                    <div class="col-md-9">
                                        <h5 class="fw-bolder">
                                            <a style="color: black" href="{{ url_for('show_product', product_id=item.id) }}"> {{item.name}} - {{ item.price }} €</a>
                                        </h5>
                                    </div>
                                    <!-- Quantity update form -->
                                    <div class="col-md-2">
                                        <form action="{{ url_for('update_cart', product_id=item.id) }}" method="post">
                                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control text-center" style="max-width: 60px; color: black">
                                            <button type="submit" class="btn btn-sm btn-light mt-2">Update</button>
                                            <!-- Remove button -->
                                            <a href="{{ url_for('remove_from_cart', product_id=item.id) }}" class="btn btn-sm btn-dark mt-2">X</a>
                                        </form>
                                    </div>

                                </div>
                            </li>
                            {% endfor %}
                        </ul>


                        <div class="row align-items-center" style="margin-top: 20px">
                                    <!-- Cart Total-->
                                    <div class="col-md-3">
                                        <h1 class="fw-bolder">
                                            <i class="bi-cart-fill me-1"></i>
                                            Cart Total
                                        </h1>
                                    </div>

                                    <!-- Product details-->
                                    <div class="col-md-9">
                                        <h1 class="fw-bolder">
                                            {{sum_cart}} €
                                        </h1>
                                    </div>

                        </div>


                        <div style="margin-bottom: 15px" class="text-start mt-4">
                            <a href="{{ url_for('checkout') }}" class="btn btn-light">Proceed to Checkout</a>

                            <form action="{{ url_for('checkout') }}" method="post">
                                <button style="margin:10px" type="submit" class="btn btn-dark">Pay with Stripe</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>


{% include "footer.html" %}
